/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

.nav-list {
    display: flex; /* Use flexbox for horizontal alignment */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    }
    .nav-list li {
      margin-right: 20px; /* Add spacing between navigation items */
    }
    .nav-item {
      background-color: #f7f7f7; /* Add a subtle background color */
      border-radius: 4px; /* Add rounded corners */
      margin: 0 4px; /* Adjust spacing as needed */
    }
    .nav-list li:last-child {
    margin-right: 0; /* Remove margin from the last item */
    }
    .nav-item.dropdown {
        position: relative; /* Position relative to make child dropdown absolute */
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff; /* Background color for the dropdown */
        border: 1px solid #ddd; /* Border styles for the dropdown */
        padding: 10px;
      }
      
      .nav-item.dropdown:hover .dropdown-menu {
        display: block;
      }


/* Header Styling */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

/* src/styles.css or a dedicated sponsor-styles.css file */
.sponsor-logos {
  display: flex;
  flex-direction: column; /* Display logos in a vertical column */
  align-items: center;
  margin-top: 20px;
}

.sponsor-logos img {
  max-width: 150px;
  height: auto;
  margin: 30px;
}